.container {
  border: 1px solid gray;
}
.app-container {
  text-align: center;
}
.country {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px;
  padding: 20px;
}
.country-data {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 5px gray;
}
.country-data img {
  width: 350px;
  height: 250px;
}
.country-data button {
  width: 350px;
  height: 35px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  background-color: #008cba;
}
.information {
  margin-left: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .country {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
